APP_ENV=development
ASTRA_DB_API_ENDPOINT=
ASTRA_DB_APPLICATION_TOKEN=
ASTRA_DB_KEYSPACE=
ASTRA_PERSONAL_COLLECTION=personal_data
ASTRA_NOTES_COLLECTION=notes
LANGFLOW_URL=
LANGFLOW_API_KEY=
MACRO_FLOW_ID=
ASK_AI_FLOW_ID=
MACRO_PROFILE_COMPONENT_ID=
MACRO_GOALS_COMPONENT_ID=
ASK_PROFILE_COMPONENT_ID=
ASK_USER_ID_COMPONENT_ID=
OPENROUTER_API_KEY=
